% Compiler Options for rebar
{erl_opts, [
  {src_dirs, ["src", "test"]}
]}.
{sub_dirs, ["rel"]}.
% Dependencies
{deps, [
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
  {cowlib, ".*", {git, "git://github.com/extend/cowlib.git", "0.6.1"}}
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.